body {
    background: linear-gradient(#ff0008 0%, #dd4c4eb5 40%, #7309ed 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.download {
    width:200px;
}
.profile h2 {
    color: white;
}
.profile h4 {
    color: white;
    transform: translateY(-10px)
}
.biodata {
    background: linear-gradient(#ffffff 0%, #ffffffd5 40%, #f3f3f300 100%);
    padding-bottom: 200px;
    padding-top: 55px;
}
.row {
    padding: 0px 10px;
}
.achievement {
    padding-top: 55px;
}
.footer {
    background-color: #fff;
    padding-bottom: 20px;
}
.contact a {
    color: black;
    font-size: 20px;
}
.watermark {
    padding-top: 30px;
}